<?xml version="1.0" encoding="utf-8"?>
<Database>

	
	<Mementos>
		<Replace Type="MEMENTO_QIN_WONDER_PRODUCTION" Name="LOC_MEMENTO_QIN_WONDER_PRODUCTION_NAME" Description="LOC_MEMENTO_QIN_WONDER_PRODUCTION_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_QIN_WONDER_PRODUCTION_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_QIN_WONDER_PRODUCTION_UNLOCK_TITLE"/>
		<Replace Type="MEMENTO_ISABELLA_ABILITY" Name="LOC_MEMENTO_ISABELLA_ABILITY_NAME" Description="LOC_MEMENTO_ISABELLA_ABILITY_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_ISABELLA_ABILITY_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_ISABELLA_ABILITY_UNLOCK_TITLE"/>
		<Replace Type="MEMENTO_WANGZHI_YINZHANG" Name="LOC_MEMENTO_WANGZHI_YINZHANG_NAME" Description="LOC_MEMENTO_WANGZHI_YINZHANG_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_WANGZHI_YINZHANG_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_WANGZHI_YINZHANG_UNLOCK_TITLE"/>
		
		<Replace Type="MEMENTO_SUNZI_BINGFA" Name="LOC_MEMENTO_SUNZI_BINGFA_NAME" Description="LOC_MEMENTO_SUNZI_BINGFA_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_SUNZI_BINGFA_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_SUNZI_BINGFA_UNLOCK_TITLE"/>
		<Replace Type="MEMENTO_XIANGWANG_FENCHENG" Name="LOC_MEMENTO_XIANGWANG_FENCHENG_NAME" Description="LOC_MEMENTO_XIANGWANG_FENCHENG_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_XIANGWANG_FENCHENG_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_XIANGWANG_FENCHENG_TITLE"/>

		<Replace Type="MEMENTO_DA_TANG_SHENG_SHI" Name="LOC_MEMENTO_DA_TANG_SHENG_SHI_NAME" Description="LOC_MEMENTO_DA_TANG_SHENG_SHI_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_DA_TANG_SHENG_SHI_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_DA_TANG_SHENG_SHI_TITLE"/>
		
		<Replace Type="MEMENTO_SI_CHOU_ZHI_LU" Name="LOC_MEMENTO_SI_CHOU_ZHI_LU_NAME" Description="LOC_MEMENTO_SI_CHOU_ZHI_LU_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_SI_CHOU_ZHI_LU_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_SI_CHOU_ZHI_LU_TITLE"/>

		<!-- 老纪念品名称 -->
		<Replace Type="MEMENTO_XERXES_ACHAEMENID_CHALCEDONY_SEAL" Name="LOC_MEMENTO_XERXES_ACHAEMENID_CHALCEDONY_SEAL_NAME" Description="LOC_MEMENTO_XERXES_ACHAEMENID_CHALCEDONY_SEAL_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_XERXES_ACHAEMENID_CHALCEDONY_SEAL_FUNCTIONAL_DESCRIPTION_OLD" LeaderSpecific="LEGEND_PATH_XERXES_ALT" UnlockTitle="LOC_MEMENTO_XERXES_ACHAEMENID_CHALCEDONY_SEAL_UNLOCK_TITLE"/>
	</Mementos>

	<MementoSlots>
	
		<Row Id="3a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d" Name="MEMENTO_SLOT_3" UnlockTitle="LOC_MEMENTO_SLOT_3_UNLOCK_TITLE" ParameterId="PlayerMementoMinorSlot2"/>
	

	</MementoSlots>

	
	
</Database>